{%extends 'base.html'%}
{%block body_block%}
            <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                     <div class="row column1">
                        <div class="col-md-6 col-lg-3">
                           <a href="{%url 'student_list'%}">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-user yellow_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">{{student}}</p>
                                    <p class="head_couter">Students</p>
                                 </div>
                              </div>
                           </div>
                           </a>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <a href="{%url 'instructor_list'%}">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-users blue1_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">{{instructor}}</p>
                                    <p class="head_couter">Instructor</p>
                                 </div>
                              </div>
                           </div></a>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <a href="{%url 'course_list'%}">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-book green_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">{{course}}</p>
                                    <p class="head_couter">Courses</p>
                                 </div>
                              </div>
                           </div></a>
                        </div>
                     </div>
                  </div>

                  <!-- footer -->
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      {%endblock%}